.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.cloud/terraform/service-account.json

# ignore terraform
terraform/.terraform/*
.terraform/*
*.tfstate
*.tfstate.*

.cloud/terraform/teamviewer_amd64.deb

.cloud/terraform/.terraform/
